USE [master]
GO
/****** Object:  Database [FirmaKursy]    Script Date: 09.06.2021 23:29:25 ******/
CREATE DATABASE [FirmaKursy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FirmaKursy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\FirmaKursy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FirmaKursy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\FirmaKursy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FirmaKursy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FirmaKursy]
GO
/****** Object:  User [NT Service\MSSQLSERVER]    Script Date: 09.06.2021 23:29:25 ******/
CREATE USER [NT Service\MSSQLSERVER] FOR LOGIN [NT SERVICE\MSSQLSERVER] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT Service\MSSQLSERVER]
GO
/****** Object:  Table [dbo].[Klient]    Script Date: 09.06.2021 23:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klient](
	[KlientID] [int] IDENTITY(1,1) NOT NULL,
	[Imię] [nchar](30) NOT NULL,
	[Nazwisko] [nchar](30) NOT NULL,
	[NazwaFirmy] [nchar](100) NULL,
	[NrTelefonu] [nchar](15) NULL,
	[AdresMail] [nchar](50) NOT NULL,
	[ZgodaNaNewsletter] [bit] NOT NULL,
	[Adres] [nchar](100) NULL,
 CONSTRAINT [PK_Klient] PRIMARY KEY CLUSTERED 
(
	[KlientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kurs]    Script Date: 09.06.2021 23:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kurs](
	[KursID] [int] IDENTITY(1,1) NOT NULL,
	[NazwaKursu] [nchar](100) NOT NULL,
	[TypID] [int] NOT NULL,
	[Cena] [money] NOT NULL,
 CONSTRAINT [PK_Kurs] PRIMARY KEY CLUSTERED 
(
	[KursID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Typ]    Script Date: 09.06.2021 23:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Typ](
	[TypID] [int] IDENTITY(1,1) NOT NULL,
	[NazwaTypu] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Typ] PRIMARY KEY CLUSTERED 
(
	[TypID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zamowienie]    Script Date: 09.06.2021 23:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zamowienie](
	[ZamowienieID] [int] IDENTITY(1,1) NOT NULL,
	[DataZamowienia] [date] NOT NULL,
	[CzyZrealizowane] [bit] NOT NULL,
	[KlientID] [int] NOT NULL,
	[KursID] [int] NOT NULL,
	[CzyFaktura] [bit] NOT NULL,
 CONSTRAINT [PK_Zamowienie] PRIMARY KEY CLUSTERED 
(
	[ZamowienieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZamowienieKlienta]    Script Date: 09.06.2021 23:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZamowienieKlienta](
	[ZamowienieID] [int] NOT NULL,
	[KursID] [int] NOT NULL,
	[Ilosc] [int] NOT NULL,
	[Cena] [money] NOT NULL,
	[RabatProc] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kurs]  WITH CHECK ADD  CONSTRAINT [FK_Kurs_Typ] FOREIGN KEY([TypID])
REFERENCES [dbo].[Typ] ([TypID])
GO
ALTER TABLE [dbo].[Kurs] CHECK CONSTRAINT [FK_Kurs_Typ]
GO
ALTER TABLE [dbo].[Zamowienie]  WITH CHECK ADD  CONSTRAINT [FK_Zamowienie_Klient] FOREIGN KEY([KlientID])
REFERENCES [dbo].[Klient] ([KlientID])
GO
ALTER TABLE [dbo].[Zamowienie] CHECK CONSTRAINT [FK_Zamowienie_Klient]
GO
ALTER TABLE [dbo].[Zamowienie]  WITH CHECK ADD  CONSTRAINT [FK_Zamowienie_Kurs] FOREIGN KEY([KursID])
REFERENCES [dbo].[Kurs] ([KursID])
GO
ALTER TABLE [dbo].[Zamowienie] CHECK CONSTRAINT [FK_Zamowienie_Kurs]
GO
ALTER TABLE [dbo].[ZamowienieKlienta]  WITH CHECK ADD  CONSTRAINT [FK_ZamowienieKlienta_Kurs] FOREIGN KEY([KursID])
REFERENCES [dbo].[Kurs] ([KursID])
GO
ALTER TABLE [dbo].[ZamowienieKlienta] CHECK CONSTRAINT [FK_ZamowienieKlienta_Kurs]
GO
ALTER TABLE [dbo].[ZamowienieKlienta]  WITH CHECK ADD  CONSTRAINT [FK_ZamowienieKlienta_Zamowienie] FOREIGN KEY([ZamowienieID])
REFERENCES [dbo].[Zamowienie] ([ZamowienieID])
GO
ALTER TABLE [dbo].[ZamowienieKlienta] CHECK CONSTRAINT [FK_ZamowienieKlienta_Zamowienie]
GO
USE [master]
GO
